// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family: 'Outfit', sans-serif;
$font-contact:'Montserrat', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Colors
$main-color: #15548D;
$secondary-color: #FAC568;
