input{
    display: flex;
    padding: 14px 18px;
    align-items: center;
    gap: 3px;
    align-self: stretch;
    //
    border-radius: 12px;
    border: 1px solid #CCC;
    background: #FFF;
}
input:focus{
    outline: solid;
    outline-color: $secondary-color;
}
::placeholder{
    font-family: $font-family;
}

