// Fonts
// @import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Outfit:wght@100;200;300;500;600;700&display=swap');

// Global variables
@import '/resources/sass/global/utilities/variables';
@import 'resources/sass/global/components/button';
@import '/resources/sass/landing/utilities/container';
@import 'resources/sass/global/components/input';
//Layout
@import '/resources/sass/landing/layout/navbar';
@import '/resources/sass/landing/layout/footer';
//Component
@import '/resources/sass/component/section-header';
@import '/resources/sass/component/contact';
//Page
@import '/resources/sass/landing/pages/homepage';

@import "bootstrap-icons/font/bootstrap-icons.css";
    body{
        margin: 0;
        padding: 0;
        font-family: $font-family;
    }

    //color
    .bg-main{
        background: $main-color;
    }
