

.nav-bar{
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
     transition: 0.3s;
      .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &.blue{
        background-color: $main-color;
        .navbar-language{
            a{
                display: flex;
                height: 52px;
                padding: 0px 18px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                background-color: #fff;
                text-decoration: none;
                color: #000;
                border-radius: 10px;
            }}
            .navbar-dropdown a {
                display: flex;
                height: 52px;
                padding: 0px 18px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                background-color: #fff;
                text-decoration: none;
                color: #000;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
              }
    }

}
.navbar-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 30px 0px 30px 0px;
    align-items: center;
    z-index: 100;
    position: relative;
    .navbar-logo-navs{
        display: flex;
        align-items: center;
        gap:60px;
        .nav-menu{
            display: flex;
            align-items: center;
            gap:40px;
        }
        .nav-menu-item{
            // font-size: 15px;
            // font-weight: 400;
            // margin-right: 20px;
            text-decoration: none;
            color: white;
            gap:40px;
            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
        }
        .logo{
            height: 50px;
        }

    }
    .navbar-language{
        a{
            display: flex;
            height: 52px;
            padding: 0px 18px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            background-color: $main-color;
            text-decoration: none;
            color: #fff;
            border-radius: 10px;
            transition: 0.3s;

        }
    }
    .navbar-dropdown{
            display: none;
            position: absolute;
            min-width: 215px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            background-color: #15548D opacity($color: #00000018);
            z-index: 1;
    }
    .navbar-dropdown a {
        display: flex;
        height: 52px;
        padding: 0px 18px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: #fff;
        text-decoration: none;
        color: #000;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
      }
      .navbar-dropdown a:hover {
       border-radius: 10px;
      }
    .navbar-language a:hover{
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        i{
            transform: rotate(180deg);
        }
    }
    .navbar-language:hover .navbar-dropdown {
        display: block;
      }
}

@media screen and (max-width:1024){
    .nav-bar{
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
         transition: 0.3s;
          .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &.blue{
            background-color: $main-color;
            .navbar-language{
                a{
                    display: flex;
                    height: 52px;
                    padding: 0px 18px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    background-color: #fff;
                    text-decoration: none;
                    color: #000;
                    border-radius: 10px;
                }}
                .navbar-dropdown a {
                    display: flex;
                    height: 52px;
                    padding: 0px 18px;
                    justify-content: center;
                    align-items: center;
                    gap: 12px;
                    background-color: #fff;
                    text-decoration: none;
                    color: #000;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                  }
        }

    }
    .navbar-head{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 30px 0px 30px 0px;
        align-items: center;
        z-index: 100;
        position: relative;
        .navbar-logo-navs{
            display: flex;
            align-items: center;
            gap:60px;
            .nav-menu{
                display: flex;
                align-items: center;
                gap:40px;
            }
            .nav-menu-item{
                // font-size: 15px;
                // font-weight: 400;
                // margin-right: 20px;
                text-decoration: none;
                color: white;
                gap:40px;
                font-size: 18px;
                font-weight: 400px;
                line-height: 23px ;
                letter-spacing: 0em;
                text-align: left;
            }
            .logo{
                height: 50px;
            }

        }
        .navbar-language{
            a{
                display: flex;
                height: 52px;
                padding: 0px 18px;
                justify-content: center;
                align-items: center;
                gap: 12px;
                background-color: $main-color;
                text-decoration: none;
                color: #fff;
                border-radius: 10px;
                transition: 0.3s;

            }
        }
        .navbar-dropdown{
                display: none;
                position: absolute;
                min-width: 215px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                background-color: #15548D opacity($color: #00000018);
                z-index: 1;
        }
        .navbar-dropdown a {
            display: flex;
            height: 52px;
            padding: 0px 18px;
            justify-content: center;
            align-items: center;
            gap: 12px;
            background-color: #fff;
            text-decoration: none;
            color: #000;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
          }
          .navbar-dropdown a:hover {
           border-radius: 10px;
          }
        .navbar-language a:hover{
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            i{
                transform: rotate(180deg);
            }
        }
        .navbar-language:hover .navbar-dropdown {
            display: block;
          }
    }
}
@media  screen and (max-width:1024px) {
    .nav-menu a{
       display: none;
    }
}
